/*reset css*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#griglia{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}

.quadrato{
    border: 1px solid black;
    width: calc(100%/10);
    aspect-ratio: 1/1;
    font-size: 3rem;
}
.active{
    background-color: red;
}